In [24]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import datetime

In [25]:
file='./russia_losses_equipment.csv'
df=pd.read_csv(file)

In [26]:
df.head() 
df=df.dropna(axis=1)

In [27]:
df.tail()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,drone,naval ship,anti-aircraft warfare
243,2022-10-26,245,271,248,2628,5351,1686,379,1379,16,192
244,2022-10-27,246,271,249,2631,5364,1690,379,1398,16,192
245,2022-10-28,247,272,251,2640,5378,1698,379,1401,16,192
246,2022-10-29,248,273,252,2659,5401,1708,380,1406,16,195
247,2022-10-30,249,274,252,2672,5453,1724,383,1412,16,197

In [13]:
datum=df[["date"]]

In [14]:
pd.to_datetime(datum)

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [15]:
datum

           date
0    2022-02-25
1    2022-02-26
2    2022-02-27
3    2022-02-28
4    2022-03-01
..          ...
243  2022-10-26
244  2022-10-27
245  2022-10-28
246  2022-10-29
247  2022-10-30

[248 rows x 1 columns]

In [18]:
type(datum)

pandas.core.frame.DataFrame

In [31]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import KFold,GridSearchCV,train_test_split,RepeatedKFold
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression,LinearRegression
X=df[["aircraft","helicopter","tank","APC"]]
# y=datum
y=df["day"]
# cf=ColumnTransformer([
#     ("date",OneHotEncoder(),["date"])
# ],remainder='passthrough')
# cf.fit(y)
# y_transformed=cf.transform(y)
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,shuffle=True,random_state=10)

model=KNeighborsClassifier(algorithm="ball_tree",n_jobs=2)
model=LinearRegression(normalize=True)

model.fit(X_train,y_train)

C:\Users\User\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

LinearRegression(normalize=True)

In [32]:
print(model.score(X_train,y_train))

0.9936748404984691

In [33]:
X_pred=pd.DataFrame([[10,10,15,10],[154,200,10,5]],columns=["aircraft","helicopter","tank","APC"])

In [34]:
model.predict(X_pred)

array([ -4.71214012, -42.46775714])