In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
file='./russia_losses_equipment.csv'
df=pd.read_csv(file)

In [3]:
df.head() 
df=df.dropna(axis=1)

In [4]:
df.tail()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,drone,naval ship,anti-aircraft warfare
243,2022-10-26,245,271,248,2628,5351,1686,379,1379,16,192
244,2022-10-27,246,271,249,2631,5364,1690,379,1398,16,192
245,2022-10-28,247,272,251,2640,5378,1698,379,1401,16,192
246,2022-10-29,248,273,252,2659,5401,1708,380,1406,16,195
247,2022-10-30,249,274,252,2672,5453,1724,383,1412,16,197

In [19]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler,OneHotEncoder
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import KFold,GridSearchCV,train_test_split,RepeatedKFold
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression,LinearRegression
X=df[["aircraft","helicopter","tank","APC"]]
y=df["date"]
# cf=ColumnTransformer([
#     ("date",OneHotEncoder(),["date"])
# ],remainder='passthrough')
# cf.fit(y)
# y_transformed=cf.transform(y)
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,shuffle=True,random_state=10)

# model=KNeighborsClassifier(algorithm="ball_tree",n_jobs=2)
model=LinearRegression(normalize=True)

model.fit(X_train,y_train)

IndexError: tuple index out of range

In [12]:
print(model.score(X_train,y_train))

0.9936748404984691

In [15]:
X_pred=pd.DataFrame([[200,230,150,1000],[154,200,10,5]],columns=["aircraft","helicopter","tank","APC"])

In [16]:
model.predict(X_pred)

array([-44.21409994, -42.46775714])